.imagem {
  margin-top: 50px;
  margin-bottom: 70px;
  width: 500px;
  border-radius: 32%;
}

.body {
  background-image: url("../../img/imageIndex.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-items: center;
  text-align: center;

}

.button {
  margin-top: 10px;
  background-color: #008CBA;
  font-size: 18px;
  padding: 10px 24px;
}

.texto {
  margin-top: 35px;
  font-family: math;
  font-size: 30px;
  color: black	;
}

.consulta{
  height: 40px;
  width: 250px;
  border: 1px solid;

}

.alerta{
  position: absolute;
  bottom: 10%;
}