.body {
  background-image: url("../../img/imagemtempo.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-items: center;
}

.nome {
  font-size: 40px;
}

.lonlat {
  margin-top: 10px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}


.voltar {
  color: white;
  padding: 8px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 7px;
  background-color: silver;
  color: black;
  border: 2px solid silver;
}

.vtr {
  margin: 22px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  padding-left: 140px;
  width: 140px;
  box-sizing: content-box;
}

.temperatura {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estado {
  font-size: 50px;
  font-family: system-ui;
  margin-bottom: 50px;
  margin-top: 20px;
}

.informacoes {
  font-size: 32;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

.cartao {
  width: 100%;
  word-wrap: normal;
}

.infoIcon {
  font-size: 80px;
}

.vento {
  color: black;
}

.gota {
  color: blue;
}

.unidade {
  font-size: 24px;
  margin-top: 10px;
}

.iconImage {
  position: relative;
  margin-left: 10px;
  background-color: #a3a3a3;
  vertical-align: middle;
  border-radius: 20px;
}

.card-footer{
  width: 100%;
  border: 0px;
  padding: 0px;
}

